html, body {
	height: 100%;
}

body {
	margin: 0;
	
	padding: 0;
	
	background-color: #aaa;
	
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 500px;
	
	margin: 100px auto;
}

.conteiner_carrinho {
	border-radius: 8px;
	
	box-shadow: 0 5px 20px rgb(120, 120, 120);
}

.body_carrinho {
	background-image: linear-gradient(#f9f9f9,#ccc)
}

.item_carrinho {
	padding: 15px 20px 0 20px;
}

.carrinho_linha {
	display: flex;

	padding: 15px 0;
	
	flex-direction: row;

	border-bottom: #ccc 1px solid;
}

.carrinho_linha:last-of-type {
	border-bottom: #bbb 1px solid;
}

.carrinho_linha-cell {
	height: 50px;
}

.carrinho_linha .pic {
	flex: 1;
	
	position: relative;
}

.carrinho_linha .pic a {
	top: -5px;

	left: -5px;

	width: 20px;

	height: 20px;

	color: #000;

	font-size: 1em;

	text-align:center;

	position: absolute;

	border-radius: 10px;

	text-decoration: none;

	display: inline-block;

	background-color: #fff;

	border: #dadada 1px solid;

	box-shadow: 2px 2px 2px rgb(160,160,160);
}

.carrinho_linha .pic span {
	width: 50px;

	height: 50px;

	border-radius: 30px;
	
	display: inline-block;

	background-size: contain;
	
	background-image:url(img/almofada1-removebg-preview.png);
}


.carrinho_linha .desc {
	flex: 3;
}

.carrinho_linha .desc h5 {
	margin: 10px 0 0;
}

.carrinho_linha .desc p {
	margin: 5px 0 0;

	font-size: 0.75em;
}

.carrinho_linha .quant {
	flex: 2;
}

.carrinho_linha .quant ul {
	list-style: none;
}

.carrinho_linha .quant ul li {
	display: inline-block;

	font-size: 1.5em;

	padding: 0 5px;
}

.carrinho_linha .quant ul li a {
	color: #000;

	text-decoration: none;
}

.carrinho_linha .valor {
	flex: 1;
}

.carrinho_linha .valor p {
	margin: 23px 0 0 0;
}

.conteiner_carrinho header {
	color: #fff;
	
	background-color:#a98e8e;
	
	border-top-left-radius: 8px;
	
	border-top-right-radius: 8px;
}

.conteiner_carrinho header h3 {
	margin: 0;
	
	padding: 20px;
}

.conteiner_carrinho footer {
	padding: 20px;
	
	text-align: center;
	
	background-color: #ccc;

	border-bottom-left-radius: 8px;
	
	border-bottom-right-radius: 8px;
}

.conteiner_carrinho footer button {
	color:antiquewhite;
	
	border: none;
	
	font-size: 1em;
	
	padding: 5px 15px;
	
	background-color: #a98e8e;
}

.conteiner_carrinho footer .valor {
	display: flex;

	flex-direction: row;
}

.conteiner_carrinho footer .valor p{
	margin: 5px 0;
}

.conteiner_carrinho footer .valor_tipo {
	flex: 1;

	text-align: left;
}

.conteiner_carrinho footer .valor_preço {
	flex: 1;

	text-align: right;
}